/* * {
  margin: 0;
  padding: 0;
} */

body {
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    color: white;
    font-family: Arial;
    background-color: #445161;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    width: 400px;
    float: left;
}

.main-header-title {
    display: block;
    margin: 0 0 10px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}

.main-header-list {
    margin: 0;
    list-style: none;
    padding: 0 0 0 30px;
    width: 422px;
    height: 127px;
}

.main-header-list-item {
    width: 422px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    padding: 0 0 0 6px;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    /* background-color: #fff; */
    /* border: 1px solid black; */
    position: absolute;
    top: 5px;
    left: -31px;
    background-image: url('./img/check_icon.png');
    background-size: cover;
}

.item2:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    /* background-color: #fff; */
    /* border: 1px solid black; */
    position: absolute;
    top: 4px;
    left: -30px;
    background-image: url('./img/check_icon.png');
    background-size: cover;
}

.main-header-img {
    display: block;
    width: 469px;
    min-height: 214px;
    background-color: #fff;
    float: right;
}

.content {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 0px;
    position: relative;
}

.about-product {
    height: 345px;
    background-color: #ffffff;
    padding: 50px;
    box-sizing: border-box;
}

.about-product span {
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.product-p {
    width: 620px;
    height: 63px;
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

video {
    outline: 1px solid black;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: #445161;
}

.dignity {
    margin: 0 auto;
    height: 418px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    background-color: #f5f5f5;
}

.dignity span {
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.dignity ul li {
    width: 526px;
    height: 63px;
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: -1px -26px 28px -33px;
}

.marker {
    list-style-type: none;
    position: relative;
}

.marker li:before {
    content: url('./img/Slice_9.png');
    display: block;
    width: 32px;
    height: 32px;
    /* background-color: #fff; */
    /* border: 1px solid black; */
    background-size: cover;
    margin: 29px 0px -35px -39px;
}

.content-marker {
    width: 1116px;
    height: 260px;
    margin: 0 auto;
    padding: 0;
}

.marker-two {
    float: right;
}

.marker-one {
    width: 256px;
    float: left;
}

margin: 0;

}
.container {
    width: 1280px;
    margin: 0 auto;
}
.screenshots {
    width: 100%;
    min-height: 487px;
    padding: 50px;
    box-sizing: border-box;
}
.screenshots-title {
    width: 100%;
    margin: 0 0 35px 0;
    /*   height: 22px; */
    
    color: #445161;
    text-align: center;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
.screenshots-item {
    width: 574px;
    margin: 0 0 30px 0;
    float: left;
    box-sizing: border-box;
}
.screenshots-item:nth-child(3),
.screenshots-item:nth-child(5) {
    float: right;
}
.screenshots-item:nth-child(4),
.screenshots-item:nth-child(5) {
    margin-bottom: ;
}
.screenshot-img {
    display: block;
    width: 200px;
    height: 150px;
    margin: 0 15px 0 0;
    float: left;
    background-color: #445161;
}
.screenshots-item-desc {
    margin: 0;
}
.screenshots-item-title {
    margin: 0 0 15px 0;
    color: #445161;
    text-align: left;
    font-family: arial;
    font-size: 24px;
    font-weight: 400;
    /* line-height: 30px; */
}
.screenshots-item-txt {
    margin: 0;
    color: #333333;
    text-align: justify;
    font-family: arial;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #333333;
}
.reviews {
    width: 1280px;
    height: 424px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.reviews-item {
    width: 403px;
    height: 121px;
    padding: 0 20px 0px 20px;
    background-color: #ebebeb;
    margin: 0 0 0 91px;
    border-radius: 10px 10px 10px 10px;
}
.text-reviewe {
    width: 410px;
    height: 64px;
    color: #333333;
    font-family: "Arial - Italic MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px 0 0 0;
}
.text-reviewe-two {
    width: 67px;
    height: 10px;
    color: #989898;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.reviews-text {
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
.reviews-figure {
    border-radius: 10px;
    width: 574px;
    margin: 0 0 0px 0;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.reviews-figure:nth-child(3),
.reviews-figure:nth-child(5) {
    float: right;
}
.reviews-figure:nth-child(4),
.reviews-figure:nth-child(5) {
    margin-bottom: ;
}
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid #ebebeb;
    top: 40px;
    left: 76px;
}
.circle-img {
    position: absolute;
    width: 75px;
    height: 75px;
    border: 1px solid #445161;
    border-radius: 50%;
    background-color: #445161;
    top: 20px ;
    left: -10px;
}